/* 共通 */
.white_button{
    background: #ffffff;
}
.white_button:hover{
    background: #dddddd;
}
.white_button:active{
    background: #eeeeee;
}
}

/* メニュー */
.menu{
    margin-bottom: 2em;
    height: 2em;
}

.menu_item{
    height: 100%;
    padding: 10px;
    font-size: large;
    border: 1px solid gray;
    border-radius: 5px;
    float: left;
    margin: 5px;
}

/* ツイート送信フォーム */
.tweet_text{
    margin-left: 5px;
    margin-right: 15px;
}
.tweet_text > textarea{
    font-size: medium;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
}

.tweet_submit{
    margin: 5px;
    margin-bottom: 10px;
}
.tweet_submit > input{
    width: 100%;
    height: 3em;
    font-size: large;
    border: 2px solid gray;
    border-radius: 5px;
    background: #dddddd;
    margin: 0;
}
.tweet_submit > input:hover{
    background: #eeeeee;
}
.tweet_submit > input:active{
    background: #dddddd;
}

/* ツイート一覧 */
.tweets{
    clear: both;
}
.tweet{
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
}
#prototype{
    display: none;
    visibility: hidden;
}
.tweet > .username {
    color: #696969;
    font-size: small;
    font-weight: bold;
    margin: 5px;
}
.tweet > .text {
    color: #000000;
    font-size: medium;
    margin: 5px;
}
.tweet > .date {
    color: gray;
    font-size: x-small;
    margin: 5px;
}
#load_trigger {
    height: 3em;
}